
.altunder{
  font-family: Calibri, sans-serif;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 40px;
}

footer {
padding-top: 8px;
padding-bottom: 4px;
  background-color: #efefef;
  text-align: center;
}

h1 {
  font-size: 35px;
  color: darkgrey;
}
h2 {
  font-size: 25px;
  color: lightgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
    border-left: 1px solid #bbb;
}


li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightgrey;
}

.active {
    background-color: grey;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4CAF50;}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* Bildeslide på index */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: lightgrey;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* søkemotor */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* tilbakemeldingsskjema */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#skjema {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


/* bildegalleri på hyttesidene*/
div.img {
    border: 0px solid #ccc;
    margin:auto;

}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
        border-radius: 12px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.responsive {
    padding: 3px;
    float: left;
    width: 24.99999%;
    margin:auto;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*
table {
  margin-left: auto;
  margin-right: auto;

}

/* Bestillingsknapper*/
.button {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: white;
    color: white;
  }


/*omoss siden*/
table, th, tbody, td, tr{
  border:1px solid black;
  padding:1em;

}

div.img2 img {
    width: auto;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 200px;
        }

div.desc2 {
    padding: 5px;
    text-align: center;
    margin: auto;

}

.responsive2 {
    padding: 10px;
    float: left;
    width: 20%;
    margin:auto;
}

@media only screen and (max-width: 700px){
    .responsive2 {
        width: 35%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive2 {
        width: 100%;
    }
}




/*test*/
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
